<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin
	xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads"
	xmlns:rim="http://www.blackberry.com/ns/widgets" id="cordova-plugin-allow-backup" version="0.0.2">
	<name>AndroidManifest</name>
	<description>
		To enable you to set the allowBackup property of a cordova-android application.
	</description>
	<license>MIT</license>
	<engines>
		<engine name="cordova" version=">=6.4.0"/>
		<engine name="cordova-android" version=">=6.0.0"/>
	</engines>
	<config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
		<activity android:name="MyActivity" android:exported="true">
			<intent-filter>
				<!-- See https://developer.android.com/guide/topics/manifest/data-element.html -->
				<data android:mimeType="audio/*" />
				<data android:mimeType="application/*" />
				<data android:mimeType="video/*" />
				<data android:mimeType="image/*" />
				<data android:mimeType="text/*" />
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>
	</config-file>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="GetFilePlugin">
				<param name="android-package" value="com.getfilecordovaplugin.GetFilePlugin"/>
			</feature>
		</config-file>
		<source-file src="src/main/java/com/getfilecordovaplugin/GetFilePlugin.java" target-dir="src/com/joaoavsantos/cordova/plugin" />
	</platform>
</plugin>
